.container-issue {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #option1{
  background-color: #AFAFAF ;
  color: #224798 !important;
}

#option2{
  background-color: #AFAFAF ;
  color: white ;
}

.select-default {
  background-color: #AFAFAF;
  color: #224798;
}

.select-active {
  background-color: #224798;
  color: white;
}

  .overlay-issue{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
  }
  
  .form-container {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: solid #007935
  }
  
  #issue-title-modal {
    text-align: center;
    color: #007935;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group textarea {
    width: 100%;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
    
  }
  
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: 0;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-color: #007935;
    color: black;
  
  
  }
  
  .form-group :-ms-input-placeholder{
    color: #AFAFAF;
  }
  
  .form-group ::placeholder{
    color: #AFAFAF;
  }
  
  
  
  .form-group textarea {
    resize: none;
  }

  /*.btn-add-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 2%;
  }*/

  .button-add-issue{
    padding: 25px 25px;
    background-color: #0056b3;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }

  .button-add-issue:hover{
    background-color: #004494;
  }

  #closebtn {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bd0e05;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button-save-issue {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007935;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }

  .button-close-issue{
    padding: 10px;
    background-color: #ff0808;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7.5%;
    float: right;
    width: 7.5%;
    color: white;
    border-radius: 4px;
    /*margin-right: 5%;*/
}
  
  .button-close-issue:hover {
    background-color: #005a29;
  }
  
  #message {
    height: 250px;
    margin-top: 10px;
    
  }
  
  #sector {
    color: #224798;
    text-align: center;
    background-color: #D9D9D9;
  }
  
  #porukaBoja {
    color: #AFAFAF;
  }