.container-issue {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay-issue{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
  }
  
  .form-container {
    background-color: white;
    height: 600px;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: solid #007935
  }
  
  #issue-title-modal {
    text-align: center;
    color: #007935;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group select,
  .form-group textarea {
    width: 100%;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
    
  }
  
  form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: 0;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-color: #007935;
    color: black;
  
  
  }
  
  .form-group :-ms-input-placeholder{
    color: #AFAFAF;
  }
  
  .form-group ::placeholder{
    color: #AFAFAF;
  }
  
  
  
  .form-group textarea {
    resize: none;
  }
  
  .button-save-issue {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007935;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }

  .button-close-issue{
    padding: 10px;
    background-color: #ff0808;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7.5%;
    float: right;
    width: 7.5%;
    color: white;
    border-radius: 4px;
    /*margin-right: 5%;*/
}
  
  .button-close-issue:hover {
    background-color: #005a29;
  }
  
  #message {
    height: 250px;
    margin-top: 10px;
    
  }
  
  #sector {
    color: #224798;
    text-align: center;
  }
  
  #porukaBoja {
    color: #AFAFAF;
  }

/*
    body.active-modal-issue{
      overflow-y: hidden;
  }
  
  .modal-issue{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
  }
  
  .overlay-issue{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
  }
  
  #issue-description {
      height: 200px;
      resize: none;
      border: 2px solid #007F37;
      border-radius: 4px;
    }
  
  .button-close-issue{
      padding: 10px;
      background-color: #ff0808;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 15%;
      float: right;
      width: 15%;
      color: white;
      border-radius: 4px;
  }
  
  .button-close-issue:hover {
    background-color: #ff0808;
  }
  
  .overlay-issue{
      background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content-issue{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background-color: white;
      padding: 14px 28px;
      width: 20%;
      height: 80%;
  }
  
  .button-add-issue{
      padding: 10px;
      background-color: #0056b3;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 45%;
      margin-left: 5%;
      width: 5%;
      color: white;
      text-decoration: none;
  
  }
  
  #issue-description{
      margin-bottom: auto;
  }
  
  .button-add-issue:hover {
    background-color: #004494;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #007F37;
    border-radius: 4px;
  }
  
  .button-save-issue{
      margin-top: 5%;
      padding: 10px;
      background-color: #0056b3;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  #sector{
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #007F37;
    border-radius: 4px;
  }

  */