.card-container{
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: #D9D9D9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-status-div{
    display: flex;
    width: 100%;
    /*justify-content: flex;*/
    justify-content: space-between;
}

#card-task-priority{
    text-align: center;
    border: 2px solid  #E39806;
    color: white;
    width: 50%;
    background-color: 
    #E39806;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
}

#card-status-caption{
    text-align: center;
    color: white;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#card-task-progress{
    text-align: center;
    border: 2px solid #6E6E6E;
    color: white;
    width: 50%;
    background-color: #6E6E6E;
    margin-bottom: 0px;
    margin-top: 0px;
}

#card-priority-assigned{
    display: flex;
    width: 100%;
    /*justify-content: flex;*/
    justify-content: space-between;
}

#card-task-assigned{
    text-align: center;
    border: 2px solid #007F37;
    color: white;
    width: 50%;
    background-color: #007F37;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 5px;
}

.task-bin{
    display: flex;
    width: 100%;
    justify-content: end;
}

#delete-task{
    background-color: #D81010;
    height: 60%;
    width: 12%;
    cursor: pointer;
    margin-left: 25%;
    border: #D81010;

}

/*.paragraph-container{
    width: 150px; /* Adjust the width as needed 
    box-sizing: border-box;
}
*/

#task-description-p{
    word-wrap: break-word;
    white-space: normal;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 2px;
}
