/*body.active-modal{
    overflow-y: hidden;
}*/

.edit-modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

#edit-closebtntask{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #bd0e05;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.edit-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.edit-button{
  display: flex;
  background-color: #0056b3;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.edit-task-form-actions{
  display: flex;
  width: 100%;
  /*justify-content: flex;*/
  justify-content: flex;
}

.edit-task-form-actions-two{
  display: flex;
  width: 100%;
  /*justify-content: flex;*/
  justify-content: space-between;
}

#edit-task-description {
    height: 200px;
    resize: none;
    border: 2px solid white;
    border-radius: 0;
    border-width: 0 0 2px 0;
    background-color: #D9D9D9;
  }

.edit-overlay{
    background-color: rgba(0,0,0,0.5);
}

#edit-option3{
  background-color: white !important;
  color: #224798 !important;
}

.edit-modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #D9D9D9;
    padding: 14px 14px;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    outline: solid #007935
}

.edit-login-box-task {
  width: 100%;
  max-width: 400px;
}

.edit-button{
  text-align: center;
  cursor: pointer;
  justify-content: center;

}

.edit-button:hover {
  background-color: #004494;
}

#edit-title {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 0;
  border-width: 0 0 2px 0;
  background-color: #D9D9D9;
}

.edit-button-save{
    margin-top: 10%;
    padding: 10px;
    background-color:#224798;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#edit-email-task{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #007F37;
  border-radius: 0 4px 4px 0;
  background-color: #007F37;
  color: white;
  width: 50%;
}

#edit-status-heading{
  padding: 10px;
  margin-top: 10px;
  border-radius: 0 4px 4px 0;
  color: white;
  width: 47.5%;
}

#edit-email-task::placeholder{
  color: white;
}

#edit-priority{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #E39806;
  border-radius: 4px 0 0 4px;
  color: white;
  width: 50%;
  background-color: #E39806;
}

#edit-task-progress-select{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #6E6E6E;
  border-radius: 4px 0 0 4px;
  color: white;
  width: 50%;
  background-color: #6E6E6E;
}

#edit-option4{
  background-color: #6E6E6E;;
  color: white;
}
