body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }

  .login-body-mobile{
    position: fixed;
    left: 0;
    top:0;
    margin-top:auto;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background::before {
    content: '';
    position: absolute;
    background-color: #007F37;
    width: 100%;
    height: 100%;
    left: 0;
  }
  
  .background::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 65%;
    height: 100%;
    right: 0;
  }
  
  .container {
    display: flex;
    width: 1200px;
    height: 600px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
  }
  
  .left-side {
    background-color: #007F37;
    color: white;
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo-container {
    text-align: center;
  }
  .logo-container-sc {
    text-align: center;
    background-color: #ffffff;
    width: 313px;
  }
  .logo {
    width: 50px;
    
  }
  
  .right-side {
    background-color: white;
    width: 65%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    width: 100%;
    max-width: 300px;
  }

  .login-box-mobile {
    width: 60%;
    max-width: 300px;
  }
  
  
  .h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  h2.login-dash {
    color: #224798
    ;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

 .form-mobile {
  align-items: center;
  display: flex;
  text-align: center;
  }
  
  label {
    margin-bottom: 5px;
    
  }
  
#email{
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #007F37;
  border-radius: 4px;
}
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #007F37;
    border-radius: 4px;
  }
  
  #label-email{
    color: #224798;
  }
  
  #label-password{
    color: #224798;
  }
  
  #password, #email {
    color: #696969;
  }
  
  .button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #004494;
  }

  .button-mobile {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-mobile:hover {
    background-color: #004494;
  }
  