body.active-modal{
    overflow-y: hidden;
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #007F37;
    border-radius: 4px;
  }

.button-close{
    padding: 10px;
    background-color: #ff0808;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 15%;
    float: right;
    width: 15%;
    color: white;
    border-radius: 4px;
}

.button-close:hover {
  background-color: #ff0808;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: white;
    padding: 14px 28px;
    width: 20%;
}

.button-add{
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    margin-left: 5%;
    width: 5%;

}

.button-add:hover {
  background-color: #004494;
}