/*body.active-modal{
    overflow-y: hidden;
}*/

.modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

#closebtntask{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #bd0e05;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.task-form-actions{
  display: flex;
  width: 100%;
  /*justify-content: flex;*/
  justify-content: flex;
}

.task-form-actions-two{
  display: flex;
  width: 100%;
  /*justify-content: flex;*/
  justify-content: space-between;
}

#task-description {
    height: 200px;
    resize: none;
    border: 2px solid white;
    border-radius: 0;
    border-width: 0 0 2px 0;
    background-color: #D9D9D9;
  }

.overlay{
    background-color: rgba(0,0,0,0.5);
}

#option3{
  background-color: white !important;
  color: #224798 !important;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #D9D9D9;
    padding: 14px 14px;
    width: 400px;
    height: 520px;
    border-radius: 10px;
    outline: solid #007935
}

.login-box-task {
  width: 100%;
  max-width: 400px;
}

.button-add{
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    margin-left: 3%;
    width: 5%;

}

.button-add:hover {
  background-color: #004494;
}

#title {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 0;
  border-width: 0 0 2px 0;
  background-color: #D9D9D9;
}

.button-save{
    margin-top: 10%;
    padding: 10px;
    background-color:#224798;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#email-task{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #007F37;
  border-top-right-radius: 4px;
  background-color: #007F37;
  color: white;
  width: 46%;
}

#status-heading{
  
  margin:auto;
  border-radius: 0 4px 4px 0;
  color: white;
}

#email-task::placeholder{
  color: white;
}

#priority{
  margin-top: 10px;
  border: 2px solid #E39806;
  border-top-left-radius: 4px;
  color: white;
  width: 52%;
  background-color: #E39806;
}

#task-progress-select{
  padding: 10px;
  border: 2px solid #6E6E6E;
  color: white;
  width: 50%;
  background-color: #6E6E6E;
}

#option4{
  background-color: #6E6E6E;;
  color: white;
}